@model PagedList.IPagedList<ThueXeVn.Models.invoice>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý bảng kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/admin/vendor/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>@ViewBag.Title</h3>
        </div>

        @if (TempData["Updated"] != null)
        {
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @Html.Raw(TempData["Updated"])
        </div>
        }

        @if (TempData["Error"] != null)
        {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @Html.Raw(TempData["Error"])
        </div>
        }

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Nhập dữ liệu từ tệp tin excel <span class="color-red">(*)</span></h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ImportToExcel", "List", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", @id = "bangke", enctype = "multipart/form-data" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="file" name="fileImport" required id="fileImport" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <button class="btn btn-primary">
                            <i class="fa fa-plus"></i> Thêm dữ liệu
                        </button>
                    </div>
                </div>

                }


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-heading">
                @using (Html.BeginForm("bangke", "List", FormMethod.Get, new { @class = "form-inline", role = "form", @id = "search-bangke", onsubmit = "return validate()" }))
                {
                    <div class="form-group">
                        <label for="searchQuery" class="control-label">Tìm kiếm: </label>
                        @Html.TextBox("search", "", new { @class = "form-control", placeholder = "Nhập từ khóa cần tìm " })
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary"><i class="fa fa-search"></i>Tìm kiếm</button>
                    </div>
                }
            </div>

            <script>
                function validate() {
                    if (document.getElementById("search").value === "") {
                        alert('Vui lòng nhập từ khóa tìm kiếm');
                        return false;
                    } else {
                        return true;
                    };
                }
            </script>

            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="table-bangke">
                        <thead>
                            <tr>
                                <th style="width: 50px; text-align: center;">Id</th>
                                <th>Tên khách hàng</th>
                                <th>Số điện thoại</th>
                                <th>Điểm đón</th>
                                <th>Điểm trả</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align: center;">@item.id</td>
                                            <td>@item.customer_name</td>
                                            <td>@item.phone</td>
                                            <td>@item.pickup</td>
                                            <td>@item.paypoints</td>
                                            <td>
                                                <a href="/List/Edit/@item.id" class="btn btn-primary" ><i class="fa fa-edit"></i> Sửa</a>
                                                <a href="/List/Delete/@item.id" class="btn btn-primary"><i class="fa fa-edit"></i> Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            Chưa có dữ liệu
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        Chưa có dữ liệu
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model != null)
                {
                    @Html.PagedListPager(Model, page => Url.Action("bangke", new { search = ViewBag.search, pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Nhập dữ liệu bảng kê</h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("bangke", "List", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", @id = "nhap_bangke" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="date" class="control-label col-md-4">
                            Ngày/tháng
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="date" name="date" placeholder="Ngày/tháng">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customer_name" class="control-label col-md-4">
                            Tên khách hàng
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="Tên khách hàng">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sex" class="control-label col-md-4">
                            Giới tính
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" id="sex" name="sex">
                                <option value="">Chọn giới tính</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                                <option value="Giới tính khác">Giới tính khác</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="control-label col-md-4">
                            Số điện thoại
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="time_to_pick" class="control-label col-md-4">
                            Thời gian đón
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="time_to_pick" name="time_to_pick" placeholder="Thời gian đón">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="time_to_pay" class="control-label col-md-4">
                            Thời gian trả
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="time_to_pay" name="time_to_pay" placeholder="Thời gian trả">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pickup" class="control-label col-md-4">
                            Điểm đón
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="pickup" name="pickup" placeholder="Điểm đón">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="paypoints" class="control-label col-md-4">
                            Điểm trả
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="paypoints" name="paypoints" placeholder="Điểm trả">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="so_cho" class="control-label col-md-4">
                            Loại xe
                            (Số chỗ)
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="so_cho" name="so_cho" placeholder="Loại xe/Số chỗ">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form" class="control-label col-md-4">
                            Hình thức
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="form" name="form" placeholder="Hình thức">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="driver" class="control-label col-md-4">
                            Tài xế
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="driver" name="driver" placeholder="Tài xế">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="control-label col-md-4">
                            Giá
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="price" name="price" placeholder="Giá">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vat" class="control-label col-md-4">
                            VAT
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="vat" name="vat" placeholder="VAT">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sum" class="control-label col-md-4">
                            Tổng tiền
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="sum" name="sum" placeholder="Tổng tiền">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="note" class="control-label col-md-4">
                            Ghi chú
                        </label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="note" name="note" placeholder="Ghi chú" rows="10"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-primary">
                                <i class="fa fa-plus"></i> Thêm dữ liệu
                            </button>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval");
<script src="~/Scripts/jquery.datetimepicker.js"></script>
<script>
    $(document).ready(function () {
        var validator = $("#nhap_bangke").validate({           
            rules: {
                date: "required",
                customer_name: "required",
                sex: "required",
                phone: "required",
                time_to_pick: "required",
                time_to_pay: "required",
                pickup: "required",
                paypoints: "required",
                so_cho: "required",
                form: "required",
                driver: "required",
                price: "required",
                vat: "required",
                sum: "required"
            },
            messages: {
                date: "Vui lòng nhập ngày/tháng/năm giờ",
                customer_name: "Vui lòng nhập tên khách hàng",
                sex: "Vui lòng nhập giới tính",
                phone: "Vui lòng nhập số điện thoại",
                time_to_pick: "Vui lòng nhập thời gian đón",
                time_to_pay: "Vui lòng nhập thời gian trả",
                pickup: "Vui lòng nhập điểm đón",
                paypoints: "Vui lòng nhập điểm trả",
                so_cho: "Vui lòng nhập số chỗ",
                form: "Vui lòng nhập hình thức",
                driver: "Vui lòng nhập tên tài xế",
                price: "Vui lòng nhập giá",
                vat: "Vui lòng nhập VAT",
                sum: "Vui lòng nhập tổng tiền",
            },
            errorClass: 'error help-inline',
            validClass: 'success',
            errorElement: 'span',
            highlight: function (element, errorClass, validClass) {
                $(element).parents("div.form-group").addClass(errorClass).removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".error").removeClass(errorClass).addClass(validClass);
            }
        });

        $('#time_to_pick').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
            startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
        });

        $('#time_to_pay').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        });

        $('#date').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        });

        

    })

    //$.validator.addMethod(
    //    "australianDate",
    //    function (value, element) {
    //        // put your own logic here, this is just a (crappy) example
    //        return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
    //    },
    //    "Vui lòng nhập ngày tháng theo định dạng dd/mm/yyyy."
    //);
</script>
}