@model ThueXeVn.Models.driver

@{
    ViewBag.title = Model.name + ", " + Model.car_made + ", " + Model.car_model + ", " + Model.car_size + " chỗ, " + Model.car_type;
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    string price = "thỏa thuận";
    if (Model.car_price != -1) {price = Model.car_price.ToString() + " đ/km";}
}

<div class="col-sm-12" style="padding-top:80px;background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;display:block;">
    <h1 style="margin-top:20px;display:block;float:left;position:relative;color:#000000;width:100%;">Lái xe @Model.name</h1>
    <p style="text-align:left;margin-top:5px;"><b>Hãng xe: </b>@Model.car_made</p>
    <p style="text-align:left;margin-top:5px;"><b>Mẫu xe: </b>@Model.car_model</p>
    <p style="text-align:left;margin-top:5px;"><b>Loại xe: </b>@Model.car_type</p>
    <p style="text-align:left;margin-top:5px;"><b>Số chỗ: </b>@Model.car_size</p>
    <p style="text-align:left;margin-top:5px;"><b>Năm sản xuất: </b>@Model.car_years</p>
    <p style="text-align:left;margin-top:5px;"><b>Bảng giá: </b>@price</p>
    <p style="text-align:left;margin-top:5px;"><b>Số điện thoại: </b><a href="tel:@Model.phone" class="btn btn-primary btn-success" id="1" onclick="call(1,'@Model.phone');">Gọi điện</a></p>
</div>
<script>
    function call(id, n) {
        $("#" + id).html(n);
        $.ajax({
            url: "/Api/call?phone=" + n,
            cache: false
        }).done(function (html) {
        });
    }
</script>
