@model PagedList.IPagedList<ThueXeVn.Models.driver_car_price>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý bảng giá xe";
    Layout = "~/Views/Shared/_LayoutAdminTX.cshtml";
}

@section Styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" />

}
<script src="/Scripts/ckeditor/ckeditor.js"></script>

@{
    long id_driver = 0;
    if (Config.getCookie("taixelogged") != "")
    {
        var id_taixe = Config.getCookie("taixelogged").Split(',').Last();
        id_driver = Convert.ToInt64(id_taixe);
    }
}

@section PageTitleHeader {
<div class="page-header">
    <h3><i class="fa fa-list fa-2x fa-color-red"></i> @ViewBag.Title </h3>
</div>

@if (TempData["Updated"] != null)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @Html.Raw(TempData["Updated"])
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @Html.Raw(TempData["Error"])
    </div>
}
}

<a class="btn btn-primary" href="/TaiXeBangGia/Addbanggia">Thêm bảng giá</a><br />

<div class="row">
    <div class="col-lg-6">
        
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="table-banggia">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Loại xe (số chỗ)</th>
                        <th>Giá/1km 1 chiều (đồng)</th>
                        @*<th>Nhân ngày lễ</th>
                        <th>Nhân một chiều</th>*@
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        if (Model.Count > 0)
                        {
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        Xe @item.cp_car_type chỗ
                                    </td>
                                    <td style="text-align: right;">@string.Format("{0:#,##}", item.cp_price)</td>
                                    @*<td>@item.cp_multiple</td>
                                    <td>
                                        @item.cp_multiple2
                                    </td>*@
                                    <td>
                                        <a href="/TaiXeBangGia/Edit/@item.id" class="btn btn-primary"><i class="fa fa-edit"></i> Sửa</a>
                                        <a href="/TaiXeBangGia/Delete/@item.id" class="btn btn-danger"><i class="fa fa-close"></i> Xóa</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    Bạn chưa có dữ liệu để hiện thị
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                Bạn chưa có dữ liệu để hiện thị
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        @if (Model != null)
        {
            @Html.PagedListPager(Model, page => Url.RouteUrl("quanlybanggia", new { pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        }
    </div>

    
</div>




<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="form-horizontal">
            <form id="form_update_driver_info" method="post" name="form_update_driver_info" enctype="multipart/form-data">
                
                <fieldset>
                    <legend>Cập nhật thông tin tài xế</legend>
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="driver_info_id" id="driver_info_id" value="0" />
                    <input type="hidden" name="driver_id" id="driver_id" value="@id_driver" />
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Cập nhật ảnh bìa</label>
                            <input type="file" name="driver_img_cover" id="driver_img_cover" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" id="blah_cover" style="width: 100%; height: 100px; display: none;">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Cập nhật ảnh đại diện</label>
                            <input type="file" name="driver_img_profile" id="driver_img_profile" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="" id="blah" style="width: 100px; height: 100px; display: none;">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Giới thiệu nhà xe</label>
                            <textarea class="form-control editor" rows="5" id="driver_des" name="driver_des"></textarea>
                        </div>
                        
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Ghi chú bảng giá</label>
                            <textarea class="form-control editor" rows="5" id="driver_note" name="driver_note"></textarea>
                        </div>

                    </div>


                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="update_driver_info(event);" id="btn_update_driver_info">Cập nhật</button>
                    </div>

                </fieldset>

            </form>
            

        </div>
        

    </div>

</div>

@section scripts {
<script src="~/Scripts/ckeditor/ckaajx.js"></script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('driver_des');
            CKEDITOR.replace('driver_note');
            $.ajax({
                url: "/TaiXeBangGia/getInfoTaiXe?id=@id_driver",
                cache: false
            }).done(function (data) {
                //console.log(data);
                if (data !== null) {
                    CKEDITOR.instances['driver_des'].setData(data.driver_des);
                    CKEDITOR.instances['driver_note'].setData(data.driver_note);
                    document.getElementById('driver_id').value = data.driver_id;
                    document.getElementById('driver_info_id').value = data.id;
                    if (data.driver_img_cover !== null) {
                        $('#blah_cover').attr('src', data.driver_img_cover).show();
                    }
                    if (data.driver_img_profile !== null) {
                        $('#blah').attr('src', data.driver_img_profile).show();
                    }
                    
                }
            });

            $("#driver_img_cover").change(function () {
                readURL_cover(this);
            });

            $("#driver_img_profile").change(function () {
                readURL_profile(this);
            });
            
        })

        function readURL_cover(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                if (!input.files[0].name.match(/.(jpg|jpeg|png|gif)$/i)) {
                    alert('Tệp bạn chọn không đúng định dạng ảnh.');
                    return false;
                }
                if (!input.files[0].type.match('image.*')) {
                    alert('Tệp bạn chọn không phải là ảnh.');
                    return false;
                }
                reader.onload = function (e) {
                    $('#blah_cover').attr('src', e.target.result).show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        function readURL_profile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                if (!input.files[0].name.match(/.(jpg|jpeg|png|gif)$/i)) {
                    alert('Tệp bạn chọn không đúng định dạng ảnh.');
                    return false;
                }
                if (!input.files[0].type.match('image.*')) {
                    alert('Tệp bạn chọn không phải là ảnh.');
                    return false;
                }
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result).show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        function update_driver_info(e) {
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            e.preventDefault();
            var $filecover = document.getElementById('driver_img_cover'),
            $fileprofile = document.getElementById('driver_img_profile'),
            $formData = new FormData();

            if ($('#blah').attr('src') == "") {
                alert('Vui lòng chọn hình ảnh tải lên.');
                return false;
            }

            if ($('#blah_cover').attr('src') == "") {
                alert('Vui lòng chọn hình ảnh tải lên.');
                return false;
            }

            if ($filecover.files.length > 0) {
                if (!$filecover.files[0].name.match(/.(jpg|jpeg|png|gif)$/i)) {
                    alert('Tệp bạn chọn không đúng định dạng ảnh.');
                    return false;
                }
                if (!$filecover.files[0].type.match('image.*')) {
                    alert('Tệp bạn chọn không phải là ảnh.');
                    return false;
                }
                if ($filecover.files.length > 0) {
                    for (var i = 0; i < $filecover.files.length; i++) {
                        $formData.append('filecover-' + i, $filecover.files[i]);
                       // console.log($filecover.files[i]);
                    }
                }
            }

            if ($fileprofile.files.length > 0) {
                if (!$fileprofile.files[0].name.match(/.(jpg|jpeg|png|gif)$/i)) {
                    alert('Tệp bạn chọn không đúng định dạng ảnh.');
                    return false;
                }
                if (!$fileprofile.files[0].type.match('image.*')) {
                    alert('Tệp bạn chọn không phải là ảnh.');
                    return false;
                }
                if ($fileprofile.files.length > 0) {
                    for (var i = 0; i < $fileprofile.files.length; i++) {
                        $formData.append('fileprofile-' + i, $fileprofile.files[i]);
                        //console.log($fileprofile.files[i]);
                    }
                }
            }

   
            //document.getElementById("driver_des").value = CKEDITOR.instances.driver_des.getData();
            //document.getElementById("driver_note").value = CKEDITOR.instances.driver_note.getData();
            $formData.append("id", document.getElementById("driver_info_id").value);
            $formData.append("driver_id", document.getElementById("driver_id").value);
            $formData.append("driver_des", CKEDITOR.instances.driver_des.getData());
            $formData.append("driver_note", CKEDITOR.instances.driver_note.getData());
            
            
            //console.log($('#form_update_driver_info').serialize());
            document.getElementById('btn_update_driver_info').innerHTML = 'Đang cập nhật thông tin...';
            document.getElementById('btn_update_driver_info').disabled = true;
            $.ajax({
                url: '/TaiXeBangGia/update_driver_info',
                type: 'POST',
                data: $formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data) {

                        CKEDITOR.instances['driver_des'].setData(data.driver_des);
                        CKEDITOR.instances['driver_note'].setData(data.driver_note);
                        document.getElementById('driver_id').value = data.driver_id;
                        document.getElementById('driver_info_id').value = data.id;
                        document.getElementById('driver_img_cover').value = "";
                        document.getElementById('driver_img_profile').value = "";
                        $('#blah_cover').attr('src', data.driver_img_cover).show();
                        $('#blah').attr('src', data.driver_img_profile).show();

                        document.getElementById('btn_update_driver_info').innerHTML = 'Cập nhật';
                        document.getElementById('btn_update_driver_info').disabled = false;

                        alert('Đã cập nhật thành công.');
                    }



                },
                error: function (error) {
                    alert('Vui lòng kiểm tra lại kết nối internet, error: ' + error, 5000);
                }
            });


        }

        var entityMap = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '/': '&#x2F;',
            '`': '&#x60;',
            '=': '&#x3D;'
        };

        function escapeHtml(string) {
            return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                return entityMap[s];
            });
        }


        
        //function updateInfo(id) {
        //    var url = "/TaiXeBangGia/updateInfo"; // the script where you handle the form input.
            
        //    var value = CKEDITOR.instances['info_driver'].getData()
        //    if (value === "") {
        //        alert("Vui lòng nhập thông tin nhà xe");
        //        return false;
        //    }
        //    CKEDITOR.ajax.post(url, JSON.stringify({ id: id, des: value }), 'application/json', function (data) {
        //        if (data !== "") {
        //            alert('Đã cập nhật thông tin nhà xe.');
        //        }
        //    });
        //    //$.ajax({
        //    //    type: "POST",
        //    //    url: url,
        //    //    data: { id: id, des: value }, // serializes the form's elements.
        //    //    success: function (data) {
        //    //        if (data !== "") {
        //    //            alert('Đã cập nhật thông tin nhà xe.');
        //    //        }
        //    //        //console.log(data);
        //    //    }
        //    //});
        //}

        //function updateNote(id) {
        //    var url = "/TaiXeBangGia/updateNote"; // the script where you handle the form input.
        //    var value = CKEDITOR.instances['note_driver'].getData()
        //    if (value === "") {
        //        alert("Vui lòng nhập ghi chú nhà xe");
        //        return false;
        //    }
        //    CKEDITOR.ajax.post(url, JSON.stringify({ id: id, note_driver: value }), 'application/json', function (data) {
        //        if (data !== "") {
        //            alert('Đã cập nhật ghi chú nhà xe.');
        //        }
        //    });

        //    //$.ajax({
        //    //    type: "POST",
        //    //    url: url,
        //    //    data: {id: id, note_driver: '"'+ value + '"'}, // serializes the form's elements.
        //    //    success: function (data) {
        //    //        if (data !== "") {
        //    //            alert('Đã cập nhật ghi chú nhà xe.');
        //    //        }
        //    //        //console.log(data);
        //    //    }
        //    //});
        //}

    </script>



}