@model PagedList.IPagedList<ThueXeVn.Models.driver_car_price>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý bảng giá xe";
    Layout = "~/Views/Shared/_LayoutAdminTX.cshtml";
}

@section Styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

@{
    long id_driver = 0;
    if (Config.getCookie("taixelogged") != "")
    {
        var id_taixe = Config.getCookie("taixelogged").Split(',').Last();
        id_driver = Convert.ToInt64(id_taixe);
    }
}

@section PageTitleHeader {
<div class="page-header">
    <h3><i class="fa fa-list fa-2x fa-color-red"></i> @ViewBag.Title </h3>
</div>

@if (TempData["Updated"] != null)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @Html.Raw(TempData["Updated"])
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @Html.Raw(TempData["Error"])
    </div>
}
}

<div class="row">
    <div class="col-lg-6">
        
        <div class="panel panel-default">
            <a class="btn btn-primary" href="/TaiXeBangGia/Addbanggia">Thêm bảng giá</a><br />
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="table-banggia">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Loại xe (số chỗ)</th>
                                <th>Giá/1km 1 chiều (đồng)</th>
                                @*<th>Nhân ngày lễ</th>
                                <th>Nhân một chiều</th>*@
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                
                                if (Model.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                Xe @item.cp_car_type chỗ
                                            </td>
                                            <td style="text-align: right;">@string.Format("{0:#,##}", item.cp_price)</td>
                                            @*<td>@item.cp_multiple</td>
                                            <td>
                                                @item.cp_multiple2
                                            </td>*@
                                            <td>
                                                <a href="/TaiXeBangGia/Edit/@item.id" class="btn btn-primary"><i class="fa fa-edit"></i> Sửa</a>
                                                <a href="/TaiXeBangGia/Delete/@item.id" class="btn btn-danger"><i class="fa fa-close"></i> Xóa</a>
                                            </td>
                                        </tr>
                                                i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">
                                            Bạn chưa có dữ liệu để hiện thị
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        Bạn chưa có dữ liệu để hiện thị
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                @if (Model != null)
                {
                    @Html.PagedListPager(Model, page => Url.RouteUrl("quanlybanggia", new { pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }

            </div>



        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cập nhật ghi chú</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label class="control-label">Ghi chú bảng giá</label>
                        <textarea class="form-control" rows="5" id="note_driver" name="note_driver"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="updateNote(@id_driver);">Cập nhật</button>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cập nhật giới thiệu nhà xe</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label class="control-label">Giới thiệu nhà xe</label>
                        <textarea class="form-control" rows="5" id="info_driver" name="info_driver"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="updateInfo(@id_driver);">Cập nhật</button>
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts {

    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/TaiXeBangGia/getNoteTaiXe?id=@id_driver",
                cache: false
            }).done(function (html) {
                $('#note_driver').val(html);
            });
        })

        $(document).ready(function () {
            $.ajax({
                url: "/TaiXeBangGia/getInfoTaiXe?id=@id_driver",
                cache: false
            }).done(function (html) {
                $('#info_driver').val(html);
            });
        })

        function updateInfo(id) {
            var url = "/TaiXeBangGia/updateInfo"; // the script where you handle the form input.
            //if ($('#info_driver').val() === "") {
            //    alert("Vui lòng nhập thông tin nhà xe");
            //    $('#info_driver').focus();
            //    return false;
            //}
            $.ajax({
                type: "POST",
                url: url,
                data: { id: id, des: $('#info_driver').val() }, // serializes the form's elements.
                success: function (data) {
                    if (data !== "") {
                        alert('Đã cập nhật thông tin nhà xe.');
                    }
                    //console.log(data);
                }
            });
        }

        function updateNote(id) {
            var url = "/TaiXeBangGia/updateNote"; // the script where you handle the form input.
            //if ($('#note_driver').val() === "") {
            //    alert("Vui lòng nhập ghi chú nhà xe");
            //    $('#note_driver').focus();
            //    return false;
            //}
            $.ajax({
                type: "POST",
                url: url,
                data: { id: id, notes: $('#note_driver').val() }, // serializes the form's elements.
                success: function (data) {
                    if (data !== "") {
                        alert('Đã cập nhật ghi chú nhà xe.');
                    }
                    //console.log(data);
                }
            });
        }

    </script>
}