@model ThueXeVn.Models.booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.driver_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driver_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_hire_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_hire_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
