@model ThueXeVn.Models.news
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Sửa bài viết</h2>

<script src="/Scripts/ckeditor/ckeditor.js"></script>
<script src="/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
@*<link href="/Content/tags/master.css" rel="stylesheet" type="text/css">*@
<link href="/Content/tags/subpage.css" rel="stylesheet" type="text/css">
<link href="/Content/tags/examples.css" rel="stylesheet" type="text/css">
<link href="/Content/tags/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="/Content/tags/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
<script src="/Scripts/core.js"></script>
<div class="form-horizontal col-md-12">
    @using (Html.BeginForm("Edit", "news", FormMethod.Post, new { id = "EditForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Tiêu đề bài viết</label>
                    <input name="title" type="text" id="title" value="@Model.title" class="form-control" placeholder="Gõ tiêu đề" onchange="urlSeo();" />
                    <input type="hidden" id="datetime" name="datetime" value="@Model.datetime">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Upload ảnh đại diện</label>
                    <input name="imageFile" type="file" id="imageFile" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcess();" />
                    <div id="progressbar" class="progressbar">
                        <div id="progresslabel" class="progressbarlabel"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Ảnh đại diện</label>
                    <input name="image" type="hidden" id="image" value="@Model.image" class="form-control" />
                    <div id="imageShow" style="width:200px;height:126px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Tóm tắt:</label>
                    <textarea name="des" rows="3" id="des" class="form-control" maxlength="250">@Model.des</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Chèn ảnh vào bài viết</label>
                    <input name="imageFileContent" type="file" id="imageFileContent" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcessContent();" />
                    <div id="progressbarContent" class="progressbar">
                        <div id="progresslabelContent" class="progressbarlabel"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">List ảnh bài viết</label>
                    <div id="imageShowContent" style="width:auto;height:auto;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Nội dung</label>
                    <textarea name="fullcontent" id="fullcontent" rows="20" cols="80">
                        @Model.fullcontent
                    </textarea>
                    <script>
                        CKEDITOR.replace('fullcontent');
                    </script>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="room" style="width:auto;display:block;">Từ khóa</label>
                    <input type="text" id="keywords" name="keywords" value="@Model.keywords" style="display:none;">
                    <ul id="ukeywords" name="ukeywords" style="background:#ffffff;"></ul>
                    <script>
                        var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

                        $('#ukeywords').tagit({
                            availableTags: sampleTags,
                            // This will make Tag-it submit a single form value, as a comma-delimited field.
                            singleField: true,
                            singleFieldNode: $('#keywords')
                        });
                    </script>

                </div>
            </div>
        </fieldset>
    }
    <p>
        <button type="button" class="btn btn-info" onclick="checkField();">Sửa</button>
    </p>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div id="loadingImage" name="loadingImage" style="z-index:1000;position:fixed;left:40%;top:30%;width:32px;height:32px;display:none;">
        <img src="/Images/loading.gif">
    </div>
</div>
    <script>

        //Image upload
        function uploadProcess() {
            var title = unicodeToNoMark($("#title").val());
            if (title.trim() == "") {
                alert("Nhập tên bài viết trước");
                document.getElementById("title").focus();
                document.getElementById('imageFile').value = "";
                return;
            }
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('imageFile');
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
                break;
            }
            formdata.append("filename", title);
            showLoadingImage();
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", function (evt) {
                if (evt.lengthComputable) {
                    var progress = Math.round(evt.loaded * 100 / evt.total);
                    $("#progressbar").progressbar("value", progress);
                }
            }, false);

            xhr.open('POST', '/News/UploadImageProcess');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    $('#imageShow').html("<img src=\"" + xhr.responseText + "\" width=200 height=126>");
                    $('#image').val(xhr.responseText);
                    hideLoadingImage();
                }
            }
            return false;
        }
        //Image upload
        function uploadProcessContent() {
            var title = unicodeToNoMark($("#title").val());
            if (title.trim() == "") {
                alert("Nhập tên bài viết trước");
                document.getElementById("title").focus();
                document.getElementById('imageFileContent').value = "";
                return;
            }
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('imageFileContent');
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
                //break;
            }
            formdata.append("filename", title);
            showLoadingImage();
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", function (evt) {
                if (evt.lengthComputable) {
                    var progress = Math.round(evt.loaded * 100 / evt.total);
                    $("#progressbarContent").progressbar("value", progress);
                }
            }, false);

            xhr.open('POST', '/News/UploadImageProcessContent');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //$('#imageShowContent').append("<img src=\"" + xhr.responseText + "\" width=200 height=126>");
                    $('#imageShowContent').append(xhr.responseText);
                    hideLoadingImage();
                }
            }
            return false;
        }
        $("#progressbar").progressbar({
            max: 100,
            change: function (evt, ui) {
                $("#progresslabel").text($("#progressbar").progressbar("value") + "%");
            },
            complete: function (evt, ui) {
                $("#progresslabel").text("File upload successful!");
            }
        });
        $("#progressbarContent").progressbar({
            max: 100,
            change: function (evt, ui) {
                $("#progresslabelContent").text($("#progressbarContent").progressbar("value") + "%");
            },
            complete: function (evt, ui) {
                $("#progresslabelContent").text("File upload successful!");
            }
        });
        evt.preventDefault();
        function checkField() {


            if (document.getElementById("title").value == "") {
                alert("Nhập tên bài viết!");
                document.getElementById("name").focus();
                return false;
            }

            if (document.getElementById("image").value == "") {
                alert("Upload ảnh đại diện!");
                document.getElementById("imageFile").focus();
                return false;
            }
            if (document.getElementById("des").value == "") {
                alert("Nhập tóm tắt!");
                document.getElementById("des").focus();
                return false;
            }

            if (document.getElementById("fullcontent").value == "") {
                alert("Nhập nội dung!");
                document.getElementById("fullcontent").focus();
                return false;
            }


            document.getElementById("EditForm").submit();
        }

    </script>
