@{
    //ViewBag.Title = "GetDetails";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<style>
    table {
        width: 100%;
        border: 1px solid #808080;
    }

    th, td {
        border: 1px solid #808080;
        padding: 2px 2px 2px 2px;
    }
</style>
    <div class="container">
        <div class="row">
            <!-- Aside -->
            <aside class="mt50" style="margin-top:5px;">

                <!-- Widget: Text -->
                <div class="col-sm-9" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
                                   
                    @Html.Raw(ViewBag.title_h1)
                    <div class="article_des">
                        <strong>@Html.Raw(ViewBag.des)</strong>
                    </div>    
                    @Html.Raw(ViewBag.content)
                    <div class="social-box">
                        <div class="fb-like" data-href="@ViewBag.url" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" style="float:left;"></div>
                        <div class="twitter" style="float:left;position:relative;display:block;margin-left:25px;"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="vn" url="@ViewBag.url"></a></div>
                        <div class="g-plus" data-action="share" data-annotation="bubble" style="float:left;position:relative;display:block;"></div>
                    </div>
                </div>
            </aside>
            <!-- Blog -->
            <section class="blog mt50" style="margin-top:5px;" id="leftColDetail">
                <div class="col-ms-2" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
                    <!-- Widget: Categories -->
                    <div class="widget">
                        <h3>TIN KHÁC</h3>
                        @Html.Raw(ViewBag.menuleft)
                    </div>
                </div>
            </section>

        </div>
    </div>

    <script>
        optimizeImageMobile();
    </script>
