@model PagedList.IPagedList<ThueXeVn.Models.call_driver_log>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Thống kê tài xế gọi cho khách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="table-banggia">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số tài xế</th>
                                <th>Tên tài xế</th>
                                <th>Số hành khách</th>
                                <th>Ngày gọi</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {

                                if (Model.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                @item.from_number
                                            </td>
                                            <td>@{Html.RenderAction("taixegoi", new { phone = item.from_number });}</td>
                                            @*<td>@item.driver_name</td>*@
                                            <td>@item.to_number</td>
                                            <td>
                                                @string.Format("{0:dd/MM/yyyy HH:mm:ss tt}", item.date_time)
                                            </td>
                                            <td><span class="btn btn-danger" onclick="xoalog(@item.id);" id="xoa_log_@item.id">Xóa</span></td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">
                                            Bạn chưa có dữ liệu để hiện thị
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        Bạn chưa có dữ liệu để hiện thị
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                @if (Model != null)
                {
                    @Html.PagedListPager(Model, page => Url.Action("callcustomer", "calllog", new { pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }

            </div>



        </div>
    </div>
</div>

@section scripts {
    <script>
        function xoalog(id) {
            if (id) {
                var url = "/calllog/deletecalllog"; // the script where you handle the form input.
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { id: id }, // serializes the form's elements.
                    success: function (data) {
                        if (data === '1') {
                            alert('Đã xóa cuộc gọi tài xế.');
                            window.location.href = window.location.href;
                        }
                        //console.log(data);
                    }
                });
            }
        }
    </script>
    }