@model List<ThueXeVn.Models.car_price_da_nang>

    @if (Model != null)
    {
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered" id="table_baogia" style="margin-top: 15px;">
                    <caption>Bảng báo giá cho thuê xe có <span style="border-bottom: 1px solid;">TÀI XẾ</span></caption>
                    <thead style="background: #ececec; color: #000;">
                        <tr style="text-align: center;">
                            <th rowspan="3">Loại xe (số chỗ)</th>
                            <th rowspan="3">Đón/tiễn sân bay/ga Đà Nẵng</th>
                            <th rowspan="3">1/2 ngày trong TP Đà Nẵng (50km/10h)</th>
                            <th rowspan="3">1 ngày trong TP Đà Nẵng (100km/10h)</th>
                            <th rowspan="3">1ngày ngoài TP Đà Nẵng (&lt;120km)</th>
                        </tr>
                        <tr style="text-align: center;"></tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="bg_fw1">Xe @item.car_type chỗ</td>
                                <td class="bg_fw1">@string.Format("{0:#,###}", item.g1)</td>
                                <td class="bg_fw1">@string.Format("{0:#,###}", item.g2)</td>
                                <td class="bg_fw1">@string.Format("{0:#,###}", item.g3)</td>
                                <td class="bg_fw1">@string.Format("{0:#,###}", item.g4)</td>
                            </tr>
                        }


                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="vertical-align: middle; font-weight: 700; font-size: 2em;" rowspan="5">Ghi Chú:</td>
                            <td style="text-align: left;" rowspan="5" colspan="4">
                                <p>- Đơn vị tính (1.000 đ)</p> 
                                <p>
                                    - Các địa điểm ngoài TP (&lt;120km) bao gồm hội an, cù lao chàm, mỹ sơn, bà nà, lăng cô, huế,...
                                </p>
                                <p>- Nếu quãng đường >120km, tính giá tiền theo km.</p>
                                <p>- Nếu thuê xe thêm ngày thì giá tiền sẽ được nhân đôi thêm.</p>
                                <p>- Giá xe có sự thay đổi trong trường hợp này lễ, tết,...</p>
                            </td>
                        </tr>
                        
                    </tfoot>

                </table>
               
            </div>

        </div>
    }

