@using ThueXeVn.Models
@model List<booking>

<section class="mh_show_booking">
    <div class="container">
        <div class="row">
            <h3 style="text-align: center; color: #333;">Dánh sách khách hàng đặt xe</h3>
            <div class="table-responsive">
                <table id="booking" class="table table-bordered table-striped">
                    <thead>
                        <tr style="font-size: 12px;">
                            <th>Mã khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Thời gian đi-đến</th>
                            <th>Thông tin chuyến xe</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null)
                        {
                            foreach (var item in @Model)
                            {
                                <tr>
                                    <td>@item.id</td> 
                                    <td style="text-align: center; position: relative;"><span class="bdx-x">Bấm để xem</span>@Html.Raw(@item.phone)</td>
                                    <td>@string.Format("{0:dd-MM-yyyy, HH:mm}", @item.date_from) <i class="fa fa-long-arrow-right"></i> @string.Format("{0:dd-MM-yyyy, HH:mm}", @item.date_to)</td>
                                    <td>
                                        @item.car_from <i class="fa fa-long-arrow-right"></i> @item.car_to <br />
                                        <b>Loại xe:</b> @item.car_type <br />
                                        <b>Hình thức:</b> @item.car_hire_type
                                    </td>                                
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    Chưa có khách hàng.
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
