@model ThueXeVn.Models.driver
@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    long driverId = 0;
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }

    if (ViewBag.driverId != null)
    {
        driverId = ViewBag.driverId;
    }
}


<link href="~/Content/bootstrap-rating.css" rel="stylesheet" />
<script src="~/Content/bootstrap-rating.min.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" />


<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=404216066584603";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

@{
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
    ViewBag.title = "Trang nhà xe";
    ViewBag.des = "Trang nhà xe";
    ViewBag.keywords = "";
    ViewBag.url = @url;
    ViewBag.image = "http://thuexevn.com/"+ViewBag.fbImageLg;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}



@if (Model != null)
{
    ViewBag.title += " " + @Model.name;
    ViewBag.des += " " + @Model.name;

}



@if (Model != null)
{
    <div class="fb-profile">


        <div class="container-fluid">
            <img align="left" class="fb-image-lg" src="@ViewBag.fbImageLg" alt="@Model.name" />
            <img align="left" class="fb-image-profile thumbnail" src="@ViewBag.fbImageProfile" alt="@Model.name" />
            <div class="profile--price visible-xs">
                <h2>
                    @if (Model.car_price == -1)
                    {
                    <text>Thỏa thuận.</text>
                    }
                    else
                    {
                    <text>@string.Format(info, "{0:#,##}", Model.car_price)&nbsp;<small>đồng/1 km.</small></text>
                    }
                </h2>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12 profile--item--left">
                    <div class="row profile--item">
                        <div class="col-md-3">
                            <h2 class="item_label">
                                @if (Model.driver_type == 0)
                                {<text>Tài xế</text>}
                                else
                                {<text>Nhà xe</text>}:
                            </h2>

                        </div>
                        <div class="col-md-9">
                            <h2>@Model.name</h2>
                            @if (Model.address != null && Model.address != "")
                            {
                                <p>
                                    <i class="fa fa-map-marker"></i>
                                    @Model.address
                                </p>
                            }
                            <p><i class="fa fa-car"></i> Xe @Model.car_made @Model.car_model @Model.car_years</p>
                            @{Html.RenderAction("TotalDanhGia", new { id = Model.id });}
                        </div>
                    </div>

                    @{Html.RenderAction("LoadBangGiaDriver", new { driver_id = Model.id });}
                    @{Html.RenderAction("LoadDesDriver", new { driver_id = Model.id });}
                    @{Html.RenderAction("LoadAlbumDriver", new { driver_id = Model.id });}

                    <div class="row profile--item">
                        <div class="col-md-3">
                            <h2 class="item_label">Đánh giá/nhận xét:</h2>
                        </div>

                        <div class="col-md-9">
                            <form name="addcomment" class="form-horizontal" id="addcomment" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="hidden" class="rating-tooltip cus_rate" id="cus_rate" name="cus_rate" data-filled="fa fa-star fa_red" data-empty="fa fa-star-o fa_red" data-fractions="1"> <span id="cus_rate_number"></span>
                                </div>

                                <input type="hidden" name="cus_driver_id" id="cus_driver_id" value="@driverId" />
                                <input type="hidden" name="cus_cm_id" id="cus_cm_id" value="0" />
                                <div class="form-group">
                                    <input type="text" name="cus_name" id="cus_name" class="form-control" placeholder="Họ tên" />
                                </div>

                                <div class="form-group">
                                    <input type="email" name="cus_email" id="cus_email" class="form-control" placeholder="Email:" />
                                </div>

                                <div class="form-group">
                                    <input type="text" name="cus_phone" id="cus_phone" class="form-control" placeholder="Số điện thoại:" />
                                </div>

                                <div class="form-group">
                                    <textarea rows="5" name="cus_comment" id="cus_comment" class="form-control" placeholder="Bình luận"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="button" onclick="addCommentdriver();" id="btnaddComment">Gửi bình luận</button>
                                </div>


                            </form>

                            @{Html.RenderAction("LoadCommentDriver", new { driver_id = Model.id });}

                        </div>
                    </div>

                    <div class="row profile--item">
                        <div class="col-md-3">
                            <h2 class="item_label">Thảo luận</h2>
                        </div>
                        <div class="col-md-9">
                            <div id="fb_page">
                                <div class="fb-comments" data-href="@url" data-numposts="5"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-xs-12 profile--item--right">
                    @*Datxe*@
                    <form class="form-horizontal form_profile" method="post" id="form_dat_thue_xe" name="form_dat_thue_xe" enctype="multipart/form-data">
                        <div class="price_car hidden-xs">
                            <h2>
                                @if (Model.car_price == -1)
                                {
                                    <text>Thỏa thuận.</text>
                                }
                                else
                                {
                                    <text>@string.Format(info, "{0:#,##}", Model.car_price)&nbsp;<small>đồng/1 km.</small></text>
                                }
                            </h2>

                        </div>
                        <h2 class="text-center">
                            Liên hệ ngay
                        </h2>

                        <input type="hidden" name="driver_id" id="driver_id" value="@Model.id" />
                        <input type="hidden" name="driver_name" id="driver_name" value="@Model.name" />
                        <input type="hidden" name="car_hire_type" id="car_hire_type" value="Một chiếu" />
                        <input type="hidden" name="car_type_made_model" id="car_type_made_model" value="@Model.car_type @Model.car_model @Model.car_years" />
                        <input type="hidden" name="price_driver" id="price_driver" value="@Model.car_price" />
                        <input type="hidden" name="distance" id="distance" />
                        <input type="hidden" name="total_money" id="total_money" />

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label">Họ tên khách: </label>*@
                                <input name="customer_name" id="customer_name" class="form-control" placeholder="Tên khách hàng" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label">Số điện thoại: </label>*@
                                <input name="customer_phone" id="customer_phone" class="form-control" placeholder="Số điện thoại khách hàng" />
                            </div>
                        </div>

                        <input type="hidden" name="lon_from" id="lon_from" value="" />
                        <input type="hidden" name="lat_from" id="lat_from" value="" />
                        <input type="hidden" name="lon_to" id="lon_to" value="" />
                        <input type="hidden" name="lat_to" id="lat_to" value="" />

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label">Điểm đi: </label>*@
                                <input name="from_place" id="from_place" class="form-control" placeholder="Nhập điểm đi" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label">Điểm đến: </label>*@
                                <input name="to_place" id="to_place" class="form-control" placeholder="Nhập điểm đến" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label">Từ ngày: </label>*@
                                <input name="from_date" id="from_date" class="form-control" placeholder="Từ ngày" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label">Đến ngày: </label>*@
                                <input name="to_date" id="to_date" class="form-control" placeholder="Đến ngày" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label">Loại xe: </label>*@
                                <select class="form-control" id="car_size_driver" name="car_size_driver" onchange="getcpdriver(@Model.id);">
                                    <option value="">Tất cả loại xe</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-block" id="btn_bookingtodriver" onclick="saveBookingToDriver(@Model.id);">Đặt xe</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>


        @if (ViewBag.lon != null && ViewBag.lat != null)
        {
            <div class="container-fluid" style="margin-top: 10px;">
                <div class="map-canvas" id="map-canvas"></div>
            </div>
        }

    </div>

}

<div id="map-canvas" style="display: none;">
    Bản đồ
</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
    <script src="/Scripts/jquery.geocomplete.js"></script>
    <script>

        $(document).ready(function () {

            $('.danh_gia_chung').on('change', function () {
                $('#danh_gia_chung_n').html($(this).val() + ' sao.');
            })

            $('#cus_rate').rating({

                extendSymbol: function () {
                    var title;
                    $(this).tooltip({
                        container: 'body',
                        placement: 'bottom',
                        trigger: 'manual',
                        title: function () {
                            return title;
                        }
                    });
                    $(this).on('rating.rateenter', function (e, rate) {
                        title = 'Đánh giá ' + rate + ' sao.';
                        $(this).tooltip('show');
                    })
                    .on('rating.rateleave', function () {
                        $(this).tooltip('hide');
                    });
                }
            });

            $('#cus_rate').on('change', function () {
                $('#cus_rate_number').html($(this).val() + ' sao.').fadeIn();
                addCommentdriver();
                $('#cus_name').focus();
            })

            //Loaixe_socho
            $.ajax({
                url: "/Home/getCarSize",
                cache: false
            }).done(function (html) {
                $('#car_size_driver').append(html);
            });

            //$(document).on("click", "#contentPager a[href]", function () {
            //    $.ajax({
            //        url: $(this).attr("href"),
            //        type: 'GET',
            //        cache: false,
            //        success: function (result) {
            //            $('#content').html(result);
            //        }
            //    });
            //    return false;
            //});
            //$('.gallery_driver').flexslider({
            //    animation: "slide",
            //    animationLoop: false,
            //    itemWidth: 210,
            //    itemMargin: 5,
            //    minItems: 2,
            //    maxItems: 4
            //});


        })


        function getcpdriver(id) {
            if (id) {
                var _loaixe = document.getElementById('car_size_driver').value;
                if (_loaixe != "") {
                    $.ajax({
                        url: "/Home/getcpdriver?id="+id + "&socho=" + _loaixe,
                        cache: false
                    }).done(function (html) {
                        $('#price_driver').val(html);
                        var so1 = parseFloat(html);
                        var so2 = parseFloat(document.getElementById("distance").value);
                        document.getElementById("total_money").value = so1 * so2;
                    });
                }else {

                }

            }
        }


        function addCommentdriver() {
            var url = "/Home/addCommentdriver"; // the script where you handle the form input.
            if ($('#cus_name').val() === "") {
                alert("Vui lòng nhập họ tên.");
                $('#cus_name').focus();
                return false;
            }
            if ($('#cus_email').val() === "") {
                alert("Vui lòng nhập email.");
                $('#cus_email').focus();
                return false;
            }
            if ($('#cus_phone').val() === "") {
                alert("Vui lòng nhập số điện thoại.");
                $('#cus_phone').focus();
                return false;
            }
            if ($('#cus_comment').val() === "") {
                alert("Vui lòng nhập bình luận.");
                $('#cus_comment').focus();
                return false;
            }
            $.ajax({
                type: "POST",
                url: url,
                data: $("#addcomment").serialize(), // serializes the form's elements.
                success: function (data) {
                    if (data !== "") {
                        alert('Đánh giá và nhận xét của bạn đã được gửi thành công.');
                        $('#cus_cm_id').val(data);
                        $('#btnaddComment').addClass('disabled');
                        $('.comment_driver').append('<div class="alert alert-success">Đánh giá và nhận xét của bạn đã được gửi thành công.</div>');
                    }
                }
            });
        }

        function danh_gia_r(x, y) {
            var url = "/Home/danh_gia_cm";
            $.ajax({
                type: "POST",
                url: url,
                data: { id: x, v: y }, // serializes the form's elements.
                success: function (data) {
                    if (data !== "") {
                        $('#vote_cm_' + x).html('<span class="helpful_btn_state">Cám ơn phản hồi của bạn!</span>');
                    }
                }
            });
        }

        $('#from_date').datetimepicker({dayOfWeekStart: 1,lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
            startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
        });
        $('#to_date').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
            startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
        });
        var d = new Date();
        var s = d.toLocaleString();
        $('#from_date').datetimepicker({ value: s, step: 10 });

        $.ajax({
            url: "/Api/getListCarType",
            cache: false
        }).done(function (html) {
            var news = '{"news":' + html + '}';
            var json_parsed = $.parseJSON(news);
            $("#car_type_made_model").html("");
            for (var i = 0; i < json_parsed.news.length; i++) {
                if (json_parsed.news[i]) {
                    var name = json_parsed.news[i].name;
                    $("#car_type_made_model").append("<option value='" + name + "'>" + name + "</option>");
                }
            }
        });

        $.ajax({
            url: "/Api/getCarHireType",
            cache: false
        }).done(function (html) {
            var news = '{"news":' + html + '}';
            var json_parsed = $.parseJSON(news);
            $("#car_hire_type").html("");
            for (var i = 0; i < json_parsed.news.length; i++) {
                if (json_parsed.news[i]) {
                    var name = json_parsed.news[i].name;
                    $("#car_hire_type").append("<option value='" + name + "'>" + name + "</option>");
                }
            }
        });

        var options = {
            map: "#map-canvas"
        };
        $("#from_place").geocomplete(options)
      .bind("geocode:result", function (event, result) {
          $("#lat_from").val(result.geometry.location.lat());
          $("#lon_from").val(result.geometry.location.lng());
          search_khoangcach();
          //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
      })
      .bind("geocode:error", function (event, status) {
          $.log("ERROR: " + status);
      })
      .bind("geocode:multiple", function (event, results) {
          $.log("Multiple: " + results.length + " results found");
      });

        $("#to_place").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lat_to").val(result.geometry.location.lat());
              $("#lon_to").val(result.geometry.location.lng());
              search_khoangcach();
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });


        function search_khoangcach() {
            if (document.getElementById('lat_from').value != "" && document.getElementById('lon_from').value != "" && document.getElementById('lat_to').value != "" && document.getElementById('lon_to').value != "") {

                var directionsDisplay = new google.maps.DirectionsRenderer;
                var directionsService = new google.maps.DirectionsService;

                var selectedMode = "DRIVING";
                //var khoangcach = "";
                var latlng1 = new google.maps.LatLng(document.getElementById('lat_from').value, document.getElementById('lon_from').value);
                var latlng2 = new google.maps.LatLng(document.getElementById('lat_to').value, document.getElementById('lon_to').value);
                console.log(latlng1);
                console.log(latlng2);
                directionsService.route({
                    origin: latlng1,  // Diem di.
                    destination: latlng2,  // Diem den
                    // Note that Javascript allows us to access the constant
                    // using square brackets and a string value as its
                    // "property."
                    travelMode: google.maps.TravelMode[selectedMode]
                }, function (response, status) {
                    if (status == 'OK') {
                        directionsDisplay.setDirections(response);
                        var khoangcach = response.routes[0].legs[0].distance.text.replace(/km/g, "").replace(/m/g, "").replace(",",".").trim();

                        var _gia1 = document.getElementById("price_driver").value;
                        var so1 = parseFloat(khoangcach);
                        var so2 = parseFloat(_gia1);
                        document.getElementById("distance").value = so1;
                        document.getElementById("total_money").value = so1 * so2;
                    } else {
                        console.log(status);
                    }
                });
            }
        }

        //Loaixe_socho
        //$.ajax({
        //    url: "/Home/getCarSize",
        //    cache: false
        //}).done(function (html) {
        //    $('#car_type_made_model').append(html);
        //});

        function saveBookingToDriver(id) {
            var url = "/Home/saveBookingToDriver"; // the script where you handle the form input.
            if (document.getElementById('customer_name').value === "") {
                alert("Vui lòng nhập họ tên khách hàng.");
                document.getElementById('customer_name').focus();
                return false;
            }
            if (document.getElementById('customer_phone').value === "") {
                alert("Vui lòng nhập số điện thoại khách hàng.");
                document.getElementById('customer_phone').focus();
                return false;
            }
            if (document.getElementById('from_date').value === "") {
                alert("Vui lòng nhập ngày đến.");
                document.getElementById('from_date').focus();
                return false;
            }
            if (document.getElementById('to_date').value === "") {
                alert("Vui lòng nhập ngày đi.");
                document.getElementById('to_date').focus();
                return false;
            }
            if (document.getElementById('from_date').value > document.getElementById('to_date').value) {
                alert("Ngày đi phải sau ngày đến");
                document.getElementById('from_date').focus();
                return false;
            }
            if (document.getElementById('lon_from').value === "" && document.getElementById('lat_from').value === "") {
                alert("Vui lòng nhập lại điểm đi.");
                document.getElementById('from_place').focus();
                return false;
            }

            if (document.getElementById('lon_to').value === "" && document.getElementById('lat_to').value === "") {
                alert("Vui lòng nhập lại điểm đến.");
                document.getElementById('to_place').focus();
                return false;
            }

            if (document.getElementById('car_size_driver').value === "") {
                alert("Vui lòng chọn loại xe muốn đặt.");
                document.getElementById('car_size_driver').focus();
                return false;
            }

            document.getElementById("btn_bookingtodriver").innerHTML = "Đang đặt xe xin chờ....";
            document.getElementById("btn_bookingtodriver").disabled = true;
            $.ajax({
                type: "POST",
                url: url,
                data: $("#form_dat_thue_xe").serialize(), // serializes the form's elements.
                success: function (data) {
                    if (data == 1) {
                        document.getElementById('customer_name').value = "";
                        document.getElementById('customer_phone').value = "";
                        document.getElementById('to_date').value = "";
                        var d = new Date();
                        var s = d.toLocaleString();
                        $('#from_date').datetimepicker({ value: s, step: 10 });

                        alert('Đã đặt xe thành công.');
                        document.getElementById("btn_bookingtodriver").innerHTML = "Đặt xe";
                        document.getElementById("btn_bookingtodriver").disabled = false;
                    }
                    //console.log(data);
                }
            });
        }

        // Can also be used with $(document).ready()

    </script>


    @if (ViewBag.lon != null && ViewBag.lat != null)
    {

    <!--Map JavaScript-->
        <script>
            initmap();
            function initmap() {
                var myVitri = new google.maps.LatLng(@ViewBag.lat, @ViewBag.lon);
                var map = new google.maps.Map(document.getElementById('map-canvas'), {
                    center: { lat: myVitri.lat(), lng: myVitri.lng() },
                    zoom: 14,
                    draggable: true,
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    animation: google.maps.Animation.DROP,
                });

                var infoWindow = new google.maps.InfoWindow({ map: map });
                var pos = {
                    lat: myVitri.lat(),
                    lng: myVitri.lng()
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('<i class="fa fa-car fa-2x"></i> @Html.Raw(Model.name + ", <br /> Địa chỉ: " + Model.address)');
                map.setCenter(pos);

            }
        </script>

    }
}
