@model PagedList.IPagedList<ThueXeVn.Models.timkiemDrivers>
@using PagedList.Mvc;
@using ThueXeVn

@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }
}
<link href="~/Content/bootstrap-rating.css" rel="stylesheet" />
<script src="~/Content/bootstrap-rating.min.js"></script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1259076600796364',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.title = "Giá cho thuê xe";
    ViewBag.des = "Giá cho thuê xe";
    ViewBag.keywords = "";
    ViewBag.url = @url;
}

@{
    string title = "";
    int songay = 1;
    int typego = 1;
    if (ViewBag.from != null)
    {
        title += " từ " + Html.Raw(ViewBag.from);
    }

    if (ViewBag.to != null)
    {
        title += " đến " + Html.Raw(ViewBag.to);
    }

    if (ViewBag.loaixe != null)
    {
        title += " loại xe " + Html.Raw(ViewBag.loaixe) + " chỗ";
    }

    if (ViewBag.kc_timkiem != null)
    {
        title += " khoảng cách khoảng " + Html.Raw(ViewBag.kc_timkiem) + " km";
    }

    if (ViewBag.date_go != null)
    {
        title += ", đi từ ngày " + ViewBag.date_go;
    }

    if (ViewBag.date_to != null)
    {
        title += " đến ngày " + ViewBag.date_to;
    }

    if (ViewBag.songaydi != null)
    {
        if (ViewBag.songaydi == 0)
        {
            title += ", đi trong ngày";
        }
        else
        {
            title += ", số ngày đi khoảng " + ViewBag.songaydi;
        }
        
        songay = ViewBag.songaydi;
    }

    if (ViewBag.type_go != null)
    {
        title += ", hình thức đi " + ViewBag.type_go + " chiều (giá chưa bao gồm phí cầu đường).";
        typego = ViewBag.type_go;
    }

    ViewBag.title += title;
    ViewBag.des += title;

    string nhaxe = "";
    string giaxe = "";
    if (ViewBag.nhaxe != null)
    {
        nhaxe = ViewBag.nhaxe;
    }

    if (ViewBag.gia_select != null)
    {
        giaxe = ViewBag.gia_select;
    }

}

@{
    double kc_timkiem = 1;
    if (ViewBag.kc_timkiem != null)
    {
        kc_timkiem = Convert.ToDouble(ViewBag.kc_timkiem);
    }
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@*<link href="~/Content/slick/slick.css" rel="stylesheet" />*@
<input id="kc_duongdi" type="hidden" value="@ViewBag.kc_timkiem" />



<section id="search_page_timtaixe">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-xs-12 booking-progress-bar hidden-xs">
                <ol data-steps="4" class="progressBar">
                    <li class="done">
                        <span class="name">Các nhà xe</span>
                        <a href="/"><span class="step"><span>1</span></span></a>
                    </li>
                    <li class="active">
                        <span class="name">Tham khảo</span><span class="step"><span>2</span></span>
                    </li>
                    <li>
                        <span class="name">Đặt xe</span><span class="step"><span>3</span></span>
                    </li>
                    <li>
                        <span class="name">Xác nhận</span><span class="step"><span>4</span></span>
                    </li>
                </ol>
            </div>

            <div class="col-md-12 col-xs-12 booking-progress-bar section_sp">
                <div class="page-header">
                    <h2>Danh sách tài xế/nhà xe @title</h2>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 booking-progress-bar section_sp">
                <ul class="search_options">
                    <li class="@if(@giaxe == "1"){<text>active</text>}" data-sort="fsdfsdfsd" data-sort-name="sdgwetw4t" onclick="getsearchOption('giaxe', '1');"><a href="#"><i class="fa fa-sort-amount-asc"></i>&nbsp;Giá tiền</a></li>
                    <li class="@if(@giaxe == "2"){<text>active</text>}" data-sort="456346436" data-sort-name="45435436" onclick="getsearchOption('giaxe', '2');"><a href=" #"><i class="fa fa-sort-amount-desc"></i>&nbsp;Giá tiền</a></li>
                    <li class="@if(@nhaxe == "0"){<text>active</text>}" data-sort="fdhdfhdf" data-sort-name="dsfsdgsdg" onclick="getsearchOption('nhaxe', '0');"><a href=" #"><i class="fa fa-car"></i>&nbsp;Tài xế</a></li>
                    <li class="@if(@nhaxe == "1"){<text>active</text>}" data-sort="436346436" data-sort-name="gsdgsdg" onclick="getsearchOption('nhaxe', '1');"><a href=" #"><i class="fa fa-train"></i>&nbsp;Nhà xe</a></li>
                </ul>

            </div>


            @*col-sm-push-4*@
            <div class="col-md-4 pull-left col-xs-12 text-align-left left-section quote-summary">
                <form id="bookingFormFrm" class="form-horizontal border quote-summary--section">
                    <fieldset>
                        <div class="title">
                            <h2 class="headding"><i class="fa fa-car"></i> Tìm kiếm tài xế</h2>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                @*<label class="control-label" for="place_from">Địa điểm đi</label>*@
                                @*<div class="field_row">
                                        <input type="text" class="form-control" name="place_from" id="place_from" placeholder="Địa điểm từ">
                                        <i class="fa fa-map-marker" id="getmaplocation"></i>
                                    </div>*@
                                <div class="input-group mb2 field_row">
                                    <input type="text" class="form-control" name="place_from" id="place_from" placeholder="Điểm đi">
                                    <span class="input-group-addon input_group_addon_tranform"><i class="fa fa-location-arrow" id="getmaplocation"></i></span>
                                </div>
                                <input type="hidden" name="lat1" id="lat1" />
                                <input type="hidden" name="lng1" id="lng1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                @*<label class="control-label" for="place_to">Địa điểm đến</label>*@
                                @*<div class="field_row">
                                        <input type="text" class="form-control" name="place_to" id="place_to" placeholder="Địa điểm tới">
                                        <i id="movemaplocation" onclick="swapValues();" class="fa fa-exchange"></i>
                                    </div>*@

                                <div class="input-group mb2 field_row">
                                    <input type="text" class="form-control" name="place_to" id="place_to" placeholder="Điểm đến" onchange="showaddsearch();">
                                    <span class="input-group-addon input_group_addon_tranform"><i id="movemaplocation" onclick="swapValues();" class="fa fa-exchange"></i></span>
                                    <span class="input-group-btn"><button class="btn btn-primary" onclick="addsearch(event);"><i class="fa fa-plus"></i></button></span>
                                </div>
                                <input type="hidden" name="lat2" id="lat2" />
                                <input type="hidden" name="lng2" id="lng2" />
                            </div>
                        </div>

                        <div id="addoptions" style="display: block;">

                            <div class="form-group">
                                <div class="col-sm-12">
                                    @*<label for="Loaixe_socho" class="control-label">Loại xe</label>*@
                                    <select class="form-control" name="Loaixe_socho" id="Loaixe_socho">
                                        <option value="">Tất cả loại xe</option>
                                        @*<option value="4">Xe 4 chỗ (giá siêu rẻ, không cốp)</option>
                                            <option value="5">Xe 5 chỗ (có cốp)</option>
                                            <option value="7">Xe 7 chỗ</option>
                                            <option value="8">Xe 8 chỗ</option>
                                            <option value="16">Xe 16 chỗ</option>
                                            <option value="29">Xe 29 chỗ</option>
                                            <option value="30">Xe 30 chỗ</option>*@
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @*<label for="Loaixe_socho" class="control-label">Loại xe</label>*@
                                    <div class="input-group field_row">
                                        <span class="input-group-addon span_col1">Từ ngày:&nbsp;&nbsp;</span>
                                        <input type="text" class="form-control" name="date_go" id="date_go" placeholder="Ngày đi">
                                    </div>

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group field_row">
                                        <span class="input-group-addon span_col1">Đến ngày:</span>
                                        <input type="text" class="form-control" name="date_to" id="date_to" placeholder="Ngày đến">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @*<label for="nhaxe" class="control-label">Nhà xe</label>*@
                                    <select class="form-control mb2" name="type_go" id="type_go">
                                        <option value="" disabled>Chọn hình thức đi</option>
                                        <option value="1">Đi 1 chiều</option>
                                        <option value="2">Đi 2 chiều</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-sm-12">
                                    <label for="nhaxe" class="control-label">Nhà xe</label>
                                    <select class="form-control" name="nhaxe" id="nhaxe">
                                        <option value="">Chọn nhà xe</option>
                                        <option value="1">Nhà xe (đã xác thực)</option>
                                        <option value="0">Tài xế</option>
                                    </select>
                                </div>
                            </div>*@
                    </fieldset>
                    <button class="btn btn-block btn-default color_button_stx" onclick="timkiemtaixe2(event);"><i class="fa fa-search"></i> Cập nhật tìm kiếm</button>
                </form>

                <div class="share-quote hidden-xs pull-right">
                    <h2 class="padding-top-bot-20">Chia sẻ</h2>
                    <div class="social-share" data-js="share" data-permalink="@url" data-title="Chuyến xe từ @title">
                        <div class="links" id="sharethis" data-di-id="sharethis">
                            <a class="share-this" data-js="share-this" href="#" rel="nofollow" title="Chia sẻ link">
                                <i class="fa fa-share-alt"></i>
                            </a>
                        </div>

                        <div class="mail" id="shareemail" data-di-id="#shareemail">
                            <a class="share-email" data-js="share-email" href="#" rel="nofollow" title="Chia sẻ danh sách cho bạn bè">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>

                        <div class="facebook" id="sharefacebook" data-di-id="#sharefacebook" data-href="@url">
                            <a class="share-facebook" data-js="share-facebook" href="javascript:void(0)" rel="nofollow" title="Chia sẻ lên Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>
                        <div class="twitter" id="sharetwitter" data-di-id="#sharetwitter">
                            <a class="share-twitter" data-js="share-twitter" href="#" rel="nofollow" title="Chia sẻ lên twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="google" id="sharegoogle" data-di-id="#sharegoogle">
                            <a class="share-google" data-js="share-google" href="#" rel="nofollow" title="Chia sẻ lên Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-8 pull-right col-xs-12 quotes-section">
                <div class="quotes">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            @*<h3>Dịp tết chỉ hiện thị các tài xế có giá từ 8,000 đồng/km trở lên</h3>*@
                            <h2 class="panel-title">
                                @if (ViewBag.sotaixe != null)
                                {
                                    <text>Kết quả:&nbsp;<span>10/@ViewBag.sotaixe nhà xe (tài xế).</span></text>
                                }
                                @*<label class="pull-right">
                                        <span>Sắp xếp theo giá:&nbsp;</span><input name="gia_select" id="gia_select" type="checkbox" checked>,&nbsp;kiểu:&nbsp;
                                        <input name="nhaxe" id="nhaxe" type="checkbox" checked>
                                    </label>*@

                                    @*<select name="gia_select" id="gia_select" class="pull-right">
                                            <option value="1">Giá tăng dần</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>*@
                                </h2>

                            </div>
                            <div class="list-group">
                                @if (Model != null)
                                {
                                    if (Model.Count > 0)
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                            double giaTaiXe = 1;
                                            string url_profile = string.Format("/nha-xe/{0}-{1}", @Config.unicodeToNoMark(item.name), item.id);
                                            if (item.cp_price != null)
                                            {
                                                double d_gia = Convert.ToDouble(item.cp_price);
                                                giaTaiXe *= kc_timkiem * d_gia;
                                            }
                                            if (songay <= 1)
                                            {
                                                if (typego == 1)
                                                {
                                                    giaTaiXe = giaTaiXe * 100 / 100;
                                                }
                                                else if (typego == 2)
                                                {
                                                    giaTaiXe = giaTaiXe * 130 / 100;
                                                }
                                            }
                                            else
                                            {
                                                giaTaiXe = (giaTaiXe * songay) + ((int)item.cp_night * songay);
                                            }

                                            <div class="row results_card">
                                                @if (item.driver_type == 1)
                                                {
                                                    <div class="col-xs-12 col-md-12 quotes-section quote_section__vertified">
                                                        <div class="ct-ribbon ct-ribbon-blue">
                                                            <i class="fa fa-check-circle ct-icon-best-seller"></i><p class="">Đã xác thực tài khoản</p>
                                                        </div>
                                                    </div>

                                                }
                                                @if (item.money != null && item.money > 0)
                                                {
                                                    <div class="col-xs-12 col-md-12 quotes-section quote_section__vertified">
                                                        <div class="ct-ribbon ct-ribbon-blue">
                                                            <i class="fa fa-check-circle ct-icon-best-seller"></i><p class="">Đã xác thực tài khoản</p>
                                                        </div>
                                                    </div>
                                                }
                                                @*@{Html.RenderAction("LoadDriverVertified", @item.id);}*@
                                                    @*<section class="col-xs-12 col-md-12 quote_section__promotion"><p>xxxxxx</p></section>*@
                                                    @{Html.RenderAction("LoadPromotionDriver", new { id = @item.id });}

                                                    <div class="col-xs-12 col-md-4 quote_section__price col-md-push-8">

                                                        <h2 class="price_nhaxe">
                                                            @if (i == 0)
                                                            {
                                                                <span class="best_price"><i class="fa fa-euro"></i>&nbsp;Giá tốt nhất</span>
                                                            }
                                                            @if (giaTaiXe != 1)
                                                            {
                                                                <text>
                                                                    <span id="total_money_driver_@item.id" class="currency">
                                                                        @string.Format(info, "{0:#,##}", giaTaiXe)<small>đ</small>
                                                                        <span class="visible-xs prime_smalll"><i class="fa fa-dollar"></i>&nbsp;<b>@string.Format(info, "{0:#,##}", item.cp_price)</b>&nbsp;Đồng/1 km</span>
                                                                    </span></text>
                                                            }

                                                        </h2>


                                                        <a href="@url_profile" class="btn btn-default btn-block hidden-xs">Xem chi tiết</a>
                                                        @*<a href="tel:0964108688" class="btn btn-danger btn-block"><i class="fa fa-phone"></i> Gọi ngay</a>*@
                                                        <a href="#" class="btn btn-primary dat_xe btn-block hidden-xs" id="dat_xe_nhanh_@item.id" onclick="func_datxenhanh(@item.id, event);"><i class="fa fa-car"></i> Đặt xe</a>

                                                    </div>

                                                    <div class="col-xs-12 col-md-8 quotes-section col-md-pull-4">

                                                        <section class="col-xs-12 col-md-12 section_detail">
                                                            <h4 class="nhaxe_name">
                                                                <a href="@url_profile" class="profile_page">
                                                                    @if (item.driver_type == 0)
                                                                    {<text>Tài xế</text>}
                                                                    else
                                                                    {<text>Nhà xe</text>} @item.name
                                                                </a>
                                                            </h4>


                                                            @{Html.RenderAction("TotalDanhGiaRieng", new { id = @item.id });}
                                                            @if (item.address != null && item.address != "")
                                                            {
                                                                <text><h4 class="nhaxe_diachi hidden-xs"><i class="fa fa-map-marker"></i>&nbsp;@item.address</h4></text>
                                                            }
                                                        </section>



                                                        <section class="col-xs-12 col-md-6 section_detail">

                                                            @{Html.RenderAction("LoadCarImage", new { made = @item.car_made, model = @item.car_model });}
                                                            <p id="car_type_made_model_@item.id"><i class="fa fa-cab"></i>&nbsp;@item.car_made @item.car_model @item.car_years</p>
                                                        </section>

                                                        <section class="col-xs-12 col-md-6 section_detail">
                                                            @if (item.address != null && item.address != "")
                                                            {
                                                                <text><h6 class="nhaxe_diachi visible-xs"><i class="fa fa-map-marker"></i>&nbsp;@item.address</h6></text>
                                                            }
                                                            <p>
                                                                <span id="car_size_driver_@item.id"><i class="fa fa-bus"></i>&nbsp;Xe <b>@item.car_size</b> chỗ</span>
                                                            </p>
                                                            <p><span id="price_driver_@item.id" class="hidden-xs"><i class="fa fa-dollar"></i>&nbsp;<b>@string.Format(info, "{0:#,##}", item.cp_price)</b>&nbsp;Đồng/1 km</span></p>

                                                            @{Html.RenderAction("LoadViewDriver", new { id = item.id });}

                                                            <a href="#" class="btn btn-primary dat_xe visible-xs" onclick="func_datxenhanh(@item.id, event);"><i class="fa fa-car"></i> Đặt xe</a>

                                                        </section>

                                                    </div>



                                                    @{Html.RenderAction("LoadImageDriver", new { id = @item.id });}




                                                </div>
                                                    i++;



                                        }

                                        @Html.PagedListPager(Model, page => Url.Action("TimTaiXe", "Home", new { pg = page, lat1 = ViewBag.lat1, lng1 = ViewBag.lng1, lat2 = ViewBag.lat2, lng2 = ViewBag.lng2, from = ViewBag.from, to = ViewBag.to, loaixe = ViewBag.loaixe, kc = ViewBag.kc_timkiem, gia_select = ViewBag.gia_select, nhaxe = ViewBag.nhaxe }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

                                    }
                                    else
                                    {
                                        <div class="row results_card mco_out">
                                            Không có tài xế nào.
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="row results_card mco_out">
                                        Không có tài xế nào.
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*col-sm-pull-8*@


        </div>
    </section>



    <div id="map-canvas" style="display: none;">
        Bản đồ
    </div>

    <div class="modal fade" id="modal-7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="exampleModalLabel" style="color: #333; font-weight: 600;">Đặt xe</h4>
                </div>

                <div class="modal-body">

                    Content is loading...
                    <div class="form-group">

                    </div>

                </div>

                @*<div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>

                    </div>*@
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_sharesocial" tabindex="-1" role="dialog" aria-labelledby="modal_sharesocialLabel">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal_sharesocialLabel"></h4>
                </div>

                <div class="modal-body">

                    Content is loading...
                    @*<form id="frmShareLink">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="inputShareLink" name="inputShareLink">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" id="btnShareLink"><i class="fa fa-copy"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>*@

                </div>

            </div>
        </div>
    </div>

    <script>
var datenow = '@DateTime.Now.ToString("dd/MM/yyyy HH:mm")';
$(document).ready(function () {
@if (ViewBag.to != null)
{
    <text>$('#place_to').val('@Html.Raw(ViewBag.to)');</text>
}
@if (ViewBag.from != null)
{
    <text>$('#place_from').val('@Html.Raw(ViewBag.from)');</text>
}
@if (ViewBag.loaixe != null)
{
    <text>$('#Loaixe_socho').val('@Html.Raw(ViewBag.loaixe)');</text>
}
@if (ViewBag.lat1 != null)
{
    <text>$('#lat1').val('@Html.Raw(ViewBag.lat1)');</text>
}
@if (ViewBag.lng1 != null)
{
    <text>$('#lng1').val('@Html.Raw(ViewBag.lng1)');</text>
}
@if (ViewBag.lat2 != null)
{
    <text>$('#lat2').val('@Html.Raw(ViewBag.lat2)');</text>
}

@if (ViewBag.lng2 != null)
{
    <text>$('#lng2').val('@Html.Raw(ViewBag.lng2)');</text>
}

    setTimeout(function () {
    @if (ViewBag.loaixe != null)
    {
        <text>$('#Loaixe_socho').val('@Html.Raw(ViewBag.loaixe)');</text>
    }
    }, 1000)

    $('.bxslider').bxSlider({
        infiniteLoop: false,
        slideMargin: 10,
        minSlides: 1,
        slideWidth: 250,
        controls: false
    });

    $('.album_driver').flexslider({
        animation: Modernizr.touch ? "slide" : "fade",
        animationSpeed: Modernizr.touch ? 400 : 1000,
        controlNav: false,
        directionNav: true,
        draggable: true,
    });


})

        function addsearch(e) {
            e.preventDefault();
            $('#addoptions').slideToggle('300');
        }

        function showaddsearch() {
            $('#addoptions').slideDown('300');
        }

    </script>


    <script src="~/Content/bxslider/jquery.bxslider.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places&region=vn&language=vi" type="text/javascript"></script>
    
    @Scripts.Render("~/Scripts/main")
    <script>

        @if (ViewBag.date_go != null)
	    {
		    <text>$('#date_go').datetimepicker({ 'value': '@ViewBag.date_go' });</text>
        }
        else
        {
            <text>$('#date_go').datetimepicker({ 'value': datenow });</text>
        }

    @if (ViewBag.date_to != null)
        {
            <text>$('#date_to').datetimepicker({ 'value': '@ViewBag.date_to' });</text>
        }
    setTimeout(function () {
        $('#type_go').val('@typego');
    }, 1000)


    </script>
    

}