@model PagedList.IPagedList<ThueXeVn.Models.timkiemDrivers>
@using PagedList.Mvc;

@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }
}

@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.title = "Tìm tài xế";
    ViewBag.des = "Tìm tài xế";
    ViewBag.keywords = "";
    ViewBag.url = @url;  
}

@{
    string title = "";
    if (ViewBag.from != null)
    {
        title += " từ " + Html.Raw(ViewBag.from);
    }

    if (ViewBag.to != null)
    {
        title += " đến " + Html.Raw(ViewBag.to);
    }

    if (ViewBag.loaixe != null)
    {
        title += " loại xe " + Html.Raw(ViewBag.loaixe) + " chỗ";
    }

    if (ViewBag.kc_timkiem != null)
    {
        title += " khoảng cách khoảng " + Html.Raw(ViewBag.kc_timkiem) + " km";
    }
    
    ViewBag.title += title;
    ViewBag.des += title; 
}

@{
    double kc_timkiem = 1;
    if (ViewBag.kc_timkiem != null)
    {
        kc_timkiem = Convert.ToDouble(ViewBag.kc_timkiem);
    }
}

<link href="~/Content/style1.css" rel="stylesheet" />

<div id="timtaixe">
    <div class="row">
        <div class="col-sm-4" id="form_search_taxe">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Tìm kiếm tài xế
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="place_from">Địa điểm từ</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="place_from" id="place_from" placeholder="Địa điểm từ">
                                    <span class="input-group-addon" id="getmaplocation" style="padding: 14px 15px;"><i class="fa fa-map-marker"></i></span>
                                    <input type="hidden" name="lat1" id="lat1" />
                                    <input type="hidden" name="lng1" id="lng1" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="place_to">Địa điểm tới</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="place_to" id="place_to" placeholder="Địa điểm tới">
                                    <span class="input-group-addon" id="movemaplocation"><i class="fa fa-exchange"></i></span>
                                    <input type="hidden" name="lat2" id="lat2" />
                                    <input type="hidden" name="lng2" id="lng2" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="Loaixe_socho" class="control-label">Loại xe</label>
                                <select class="form-control" name="Loaixe_socho" id="Loaixe_socho">
                                    <option value="">Chọn loại xe</option>
                                    <option value="4">Xe 4 chỗ</option>
                                    <option value="7">Xe 7 chỗ</option>
                                    <option value="16">Xe 16 chỗ</option>
                                    <option value="29">Xe 29 chỗ</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-block btn-default color_button_stx" onclick="timkiemtaixe();"><i class="fa fa-search"></i> Cập nhật tìm kiếm</button>
                </div>
            </div>

        </div>
        <div class="col-sm-8" id="result_taixe">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Kết quả @title</h3>
                    @if (ViewBag.sotaixe != null)
                    {
                        <text><p style="color: #fff;padding-top: 10px;">Có @ViewBag.sotaixe tài xế đang chờ bạn.</p></text>
                    }
                    
                </div>
                <div class="panel-body list-group">
                    @if (Model != null)
                    {
                        if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                double giaTaiXe = 1;
                                if (item.cp_price != null)
                                {
                                    double d_gia = Convert.ToDouble(item.cp_price);
                                    giaTaiXe *= kc_timkiem * d_gia;
                                }
                                
                                <div class="row results_card mco_out">
                                    <div class="col-xs-6 col-md-5">
                                        <section class="col-xs-12 col-md-12 pho_information" style="padding-top: 0;">
                                            <h4>@item.name</h4>
                                            <div class="rating-star-box" title="This provider has received 4.5 stars out of 5 based on customer reviews">
                                                @if (item.DiffDate <= 7)
                                                {
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star"></i>
                                                }                                                
                                            </div>
                                            @if (item.address != null && item.address != "")
                                            {
                                                <text><p class="pho-location"><i class="fa fa-map-marker"></i>&nbsp;@item.address</p></text>
                                            }
                                            
                                        </section>
                                    </div>
                                    <div class="col-xs-6 col-md-7">
                                        <section class="col-xs-12 col-md-6 price_container">
                                            <div>
                                                <p id="price" class="price">
                                                    @if (giaTaiXe != 1)
                                                    {
                                                        <text>@string.Format("{0:#,###} Đồng.", giaTaiXe)</text>
                                                    }
                                                </p>
                                            </div>
                                        </section>
                                        <section class="col-xs-12 col-md-6 continue_button">
                                            <a href="tel:@item.phone" class="btn btn-default color_button_stx"><i class="fa fa-phone"></i> Gọi ngay</a>
                                        </section>
                                    </div>
                                </div>
                            }
                            
                            @Html.PagedListPager(Model, page => Url.Action("TimTaiXe", "Home", new { pg = page, lat1 = ViewBag.lat1, lng1 = ViewBag.lng1, lat2 = ViewBag.lat2, lng2 = ViewBag.lng2, from = ViewBag.from, to = ViewBag.to, loaixe = ViewBag.loaixe }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

                        }
                        else
                        {
                            <div class="row results_card mco_out">
                                Không có tài xế nào.
                            </div>
                        }
                        
                    }
                    else
                    {
                        <div class="row results_card mco_out">
                            Không có tài xế nào.
                        </div>
                    }

                </div>
            </div>


        </div>

    </div>
</div>

<div id="map-canvas" style="display: none;">
    Bản đồ
</div>

@if (ViewBag.from != null || ViewBag.to != null || ViewBag.loaixe != null)
{
    <script>
    $(document).ready(function () {
        $('#place_from').val('@Html.Raw(ViewBag.from)');
        $('#place_to').val('@Html.Raw(ViewBag.to)');
        $('#Loaixe_socho').val('@Html.Raw(ViewBag.loaixe)');        
    })
    </script>
}

@if (ViewBag.lat1 != null)
{
    <script>
        $(document).ready(function () {
            $('#lat1').val('@Html.Raw(ViewBag.lat1)');
        })
    </script>
}

@if (ViewBag.lng1 != null)
{
    <script>
        $(document).ready(function () {
            $('#lng1').val('@Html.Raw(ViewBag.lng1)');
        })
    </script>
}

@if (ViewBag.lat2 != null)
{
    <script>
        $(document).ready(function () {
            $('#lat2').val('@Html.Raw(ViewBag.lat2)');
        })
    </script>
}

@if (ViewBag.lng2 != null)
{
    <script>
        $(document).ready(function () {
            $('#lng2').val('@Html.Raw(ViewBag.lng2)');
        })
    </script>
}

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
    <script src="/Scripts/jquery.geocomplete.js"></script>
    <script src="~/Scripts/script2.js"></script>
}