@model PagedList.IPagedList<ThueXeVn.Models.timkiemDrivers>
@using PagedList.Mvc;
@using ThueXeVn

@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }
}
<link href="~/Content/sld/flexslider.css" rel="stylesheet" />
<link href="~/Content/bootstrap-rating.css" rel="stylesheet" />
<script src="~/Content/bootstrap-rating.min.js"></script>
<script src="~/Content/sld/jquery.flexslider-min.js"></script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1259076600796364',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.title = "Giá cho thuê xe";
    ViewBag.des = "Giá cho thuê xe";
    ViewBag.keywords = "";
    ViewBag.url = @url;
}

@{
    string title = "";
    if (ViewBag.from != null)
    {
        title += " từ " + Html.Raw(ViewBag.from);
    }

    if (ViewBag.to != null)
    {
        title += " đến " + Html.Raw(ViewBag.to);
    }

    if (ViewBag.loaixe != null)
    {
        title += " loại xe " + Html.Raw(ViewBag.loaixe) + " chỗ";
    }

    if (ViewBag.kc_timkiem_view != null)
    {
        title += " khoảng cách khoảng " + Html.Raw(ViewBag.kc_timkiem_view) + " km giá một chiều (giá chưa bao gồm phí cầu đường).";
    }

    ViewBag.title += title;
    ViewBag.des += title;

    string nhaxe = "";
    string giaxe = "";
    if (ViewBag.nhaxe != null)
    {
        nhaxe = ViewBag.nhaxe;
    }

    if (ViewBag.gia_select != null)
    {
        giaxe = ViewBag.gia_select;
    }

}

@{
    double kc_timkiem = 1;
    if (ViewBag.kc_timkiem != null)
    {
        kc_timkiem = Convert.ToDouble(ViewBag.kc_timkiem);
    }
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@*<link href="~/Content/slick/slick.css" rel="stylesheet" />*@
<input id="kc_duongdi" type="hidden" value="@ViewBag.kc_timkiem_view" />



<section id="search_page_timtaixe">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-xs-12 booking-progress-bar hidden-xs">
                <ol data-steps="4" class="progressBar">
                    <li class="done">
                        <span class="name">Các nhà xe</span>
                        <a href="/"><span class="step"><span>1</span></span></a>
                    </li>
                    <li class="active">
                        <span class="name">Tham khảo</span><span class="step"><span>2</span></span>
                    </li>
                    <li>
                        <span class="name">Đặt xe</span><span class="step"><span>3</span></span>
                    </li>
                    <li>
                        <span class="name">Xác nhận</span><span class="step"><span>4</span></span>
                    </li>
                </ol>
            </div>

            <div class="col-md-12 col-xs-12 booking-progress-bar section_sp">
                <div class="page-header">
                    <h2>Danh sách tài xế/nhà xe @title</h2>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 booking-progress-bar section_sp">
                <ul class="search_options">
                    <li class="@if(@giaxe == "1"){<text>active</text>}" data-sort="fsdfsdfsd" data-sort-name="sdgwetw4t" onclick="getsearchOption('giaxe', '1');"><a href="#"><i class="fa fa-angle-up"></i>&nbsp;Giá tiền tăng dần</a></li>
                    <li class="@if(@giaxe == "2"){<text>active</text>}" data-sort="456346436" data-sort-name="45435436" onclick="getsearchOption('giaxe', '2');"><a href=" #"><i class="fa fa-angle-down"></i>&nbsp;Giá tiền giảm dần</a></li>
                    <li class="@if(@nhaxe == "0"){<text>active</text>}" data-sort="fdhdfhdf" data-sort-name="dsfsdgsdg" onclick="getsearchOption('nhaxe', '0');"><a href=" #"><i class="fa fa-car"></i>&nbsp;Tài xế</a></li>
                    <li class="@if(@nhaxe == "1"){<text>active</text>}" data-sort="436346436" data-sort-name="gsdgsdg" onclick="getsearchOption('nhaxe', '1');"><a href=" #"><i class="fa fa-train"></i>&nbsp;Nhà xe</a></li>
                </ul>

            </div>


            @*col-sm-push-4*@
            <div class="col-md-4 pull-left col-xs-12 text-align-left left-section quote-summary">
                <form id="bookingFormFrm" class="form-horizontal border quote-summary--section">
                    <fieldset>
                        <div class="title">
                            <h2 class="headding"><i class="fa fa-car"></i> Tìm kiếm tài xế</h2>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="place_from">Địa điểm đi</label>
                                <div class="field_row">
                                    <input type="text" class="form-control" name="place_from" id="place_from" placeholder="Địa điểm từ">
                                    <i class="fa fa-map-marker" id="getmaplocation"></i>

                                </div>
                                <input type="hidden" name="lat1" id="lat1" />
                                <input type="hidden" name="lng1" id="lng1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="place_to">Địa điểm đến</label>
                                <div class="field_row">
                                    <input type="text" class="form-control" name="place_to" id="place_to" placeholder="Địa điểm tới">
                                    <i id="movemaplocation" onclick="swapValues();" class="fa fa-exchange"></i>
                                </div>
                                <input type="hidden" name="lat2" id="lat2" />
                                <input type="hidden" name="lng2" id="lng2" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="Loaixe_socho" class="control-label">Loại xe</label>
                                <select class="form-control" name="Loaixe_socho" id="Loaixe_socho">
                                    <option value="">Tất cả loại xe</option>
                                    @*<option value="4">Xe 4 chỗ (giá siêu rẻ, không cốp)</option>
                                        <option value="5">Xe 5 chỗ (có cốp)</option>
                                        <option value="7">Xe 7 chỗ</option>
                                        <option value="8">Xe 8 chỗ</option>
                                        <option value="16">Xe 16 chỗ</option>
                                        <option value="29">Xe 29 chỗ</option>
                                        <option value="30">Xe 30 chỗ</option>*@
                                </select>
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-sm-12">
                                    <label for="nhaxe" class="control-label">Nhà xe</label>
                                    <select class="form-control" name="nhaxe" id="nhaxe">
                                        <option value="">Chọn nhà xe</option>
                                        <option value="1">Nhà xe (đã xác thực)</option>
                                        <option value="0">Tài xế</option>
                                    </select>
                                </div>
                            </div>*@
                    </fieldset>
                    <button class="btn btn-block btn-default color_button_stx" onclick="timkiemtaixe2(event);"><i class="fa fa-search"></i> Cập nhật tìm kiếm</button>
                </form>

                <div class="share-quote">
                    <h2 class="padding-top-bot-20">Chia sẻ</h2>
                    <div class="social-share" data-js="share" data-permalink="@url" data-title="Chuyến xe từ @title">
                        <div class="links" id="sharethis" data-di-id="sharethis">
                            <a class="share-this" data-js="share-this" href="#" rel="nofollow" title="Chia sẻ link">
                                <i class="fa fa-share-alt"></i>
                            </a>
                        </div>

                        <div class="mail" id="shareemail" data-di-id="#shareemail">
                            <a class="share-email" data-js="share-email" href="#" rel="nofollow" title="Chia sẻ danh sách cho bạn bè">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>

                        <div class="facebook" id="sharefacebook" data-di-id="#sharefacebook" data-href="@url">
                            <a class="share-facebook" data-js="share-facebook" href="javascript:void(0)" rel="nofollow" title="Chia sẻ lên Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>
                        <div class="twitter" id="sharetwitter" data-di-id="#sharetwitter">
                            <a class="share-twitter" data-js="share-twitter" href="#" rel="nofollow" title="Chia sẻ lên twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="google" id="sharegoogle" data-di-id="#sharegoogle">
                            <a class="share-google" data-js="share-google" href="#" rel="nofollow" title="Chia sẻ lên Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-8 pull-right col-xs-12 quotes-section">
                <div class="quotes">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            @*<h3>Dịp tết chỉ hiện thị các tài xế có giá từ 8,000 đồng/km trở lên</h3>*@
                            <h2 class="panel-title">
                                @if (ViewBag.sotaixe != null)
                                {
                                    <text>Kết quả:&nbsp;<span>10/@ViewBag.sotaixe nhà xe (tài xế).</span></text>
                                }
                                @*<label class="pull-right">
                                        <span>Sắp xếp theo giá:&nbsp;</span><input name="gia_select" id="gia_select" type="checkbox" checked>,&nbsp;kiểu:&nbsp;
                                        <input name="nhaxe" id="nhaxe" type="checkbox" checked>
                                    </label>*@

                                    @*<select name="gia_select" id="gia_select" class="pull-right">
                                            <option value="1">Giá tăng dần</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>*@
                                </h2>

                            </div>
                            <div class="list-group">
                                @if (Model != null)
                                {
                                    if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            double giaTaiXe = 1;
                                            string url_profile = string.Format("/nha-xe/{0}-{1}", @Config.unicodeToNoMark(item.name), item.id);
                                            if (item.cp_price != null)
                                            {
                                                double d_gia = Convert.ToDouble(item.cp_price);
                                                giaTaiXe *= kc_timkiem * d_gia;
                                            }

                                            <div class="row results_card">
                                                @if (item.driver_type == 1)
                                                {
                                                    <div class="col-xs-12 col-md-12 quotes-section quote_section__vertified">
                                                        @*<p>
                                                                <strong>Đã xác thực tài khoản</strong>
                                                            </p>*@
                                                        <div class="ct-ribbon ct-ribbon-blue">
                                                            <i class="fa fa-check-circle ct-icon-best-seller"></i><p class="">Đã xác thực tài khoản</p>
                                                        </div>
                                                    </div>

                                                }
                                                @{Html.RenderAction("LoadDriverVertified", @item.id);}
                                                @*<section class="col-xs-12 col-md-12 quote_section__promotion"><p>xxxxxx</p></section>*@
                                                @{Html.RenderAction("LoadPromotionDriver", new { id = @item.id });}
                                                <div class="col-xs-12 col-md-8 quotes-section">

                                                    <section class="col-xs-12 col-md-12 section_detail">
                                                        <h4 class="nhaxe_name">
                                                            <a href="@url_profile" class="profile_page">
                                                                @if (item.driver_type == 0)
                                                                {<text>Tài xế</text>}
                                                                else
                                                                {<text>Nhà xe</text>} @item.name
                                                            </a>
                                                        </h4>


                                                        @{Html.RenderAction("TotalDanhGiaRieng", new { id = @item.id });}
                                                        @if (item.address != null && item.address != "")
                                                        {
                                                            <text><h4 class="nhaxe_diachi"><i class="fa fa-map-marker"></i>&nbsp;@item.address</h4></text>
                                                        }
                                                    </section>



                                                    <section class="col-xs-12 col-md-6 section_detail">
                                                        <p id="car_type_made_model_@item.id"><i class="fa fa-cab"></i>&nbsp;@item.car_made @item.car_model @item.car_years</p>
                                                        @{Html.RenderAction("LoadCarImage", new { made = @item.car_made, model = @item.car_model });}
                                                    </section>

                                                    <section class="col-xs-12 col-md-6 section_detail">
                                                        <p>
                                                            <span id="car_size_driver_@item.id"><i class="fa fa-bus"></i>&nbsp;Loại xe:&nbsp;<b>@item.car_size</b> chỗ</span>
                                                        </p>
                                                        <p><span id="price_driver_@item.id"><i class="fa fa-dollar"></i>&nbsp;Giá 1km:&nbsp;<b>@string.Format(info, "{0:#,##}", item.cp_price)</b>&nbsp;Đồng/km</span></p>

                                                        @{Html.RenderAction("LoadViewDriver", @item.id);}
                                                    </section>

                                                </div>

                                                <div class="col-xs-12 col-md-4 quote_section__price">
                                                    <h2 class="price_nhaxe">

                                                        @if (giaTaiXe != 1)
                                                        {
                                                            <text><span id="total_money_driver_@item.id" class="currency">@string.Format(info, "{0:#,##}", giaTaiXe)<small>đ</small></span></text>
                                                           
                                                        }
                                                    </h2>

                                                    <a href="@url_profile" class="btn btn-default btn-block">Xem chi tiết</a>
                                                    <a href="tel:0964108688" class="btn btn-danger btn-block"><i class="fa fa-phone"></i> Gọi ngay</a>
                                                    <a href="#" class="btn btn-primary dat_xe btn-block" id="dat_xe_nhanh_@item.id" onclick="func_datxenhanh(@item.id, event);"><i class="fa fa-car"></i> Đặt xe</a>

                                                </div>

                                                @{Html.RenderAction("LoadImageDriver", new { id = @item.id });}
                                                



                                            </div>




                                        }

                                        @Html.PagedListPager(Model, page => Url.Action("TimTaiXe", "Home", new { pg = page, lat1 = ViewBag.lat1, lng1 = ViewBag.lng1, lat2 = ViewBag.lat2, lng2 = ViewBag.lng2, from = ViewBag.from, to = ViewBag.to, loaixe = ViewBag.loaixe, kc = ViewBag.kc_timkiem, gia_select = ViewBag.gia_select, nhaxe = ViewBag.nhaxe }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

                                    }
                                    else
                                    {
                                        <div class="row results_card mco_out">
                                            Không có tài xế nào.
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="row results_card mco_out">
                                        Không có tài xế nào.
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*col-sm-pull-8*@


        </div>
    </section>



    <div id="map-canvas" style="display: none;">
        Bản đồ
    </div>

    <div class="modal fade" id="modal-7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="exampleModalLabel" style="color: #333; font-weight: 600;">Đặt xe</h4>
                </div>

                <div class="modal-body">

                    Content is loading...
                    <div class="form-group">

                    </div>

                </div>

                @*<div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>

                    </div>*@
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_sharesocial" tabindex="-1" role="dialog" aria-labelledby="modal_sharesocialLabel">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal_sharesocialLabel"></h4>
                </div>

                <div class="modal-body">

                    Content is loading...
                    @*<form id="frmShareLink">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="inputShareLink" name="inputShareLink">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" id="btnShareLink"><i class="fa fa-copy"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>*@

                </div>

            </div>
        </div>
    </div>

    @if (ViewBag.to != null)
    {
        <script>
            $(document).ready(function () {
                $('#place_to').val('@Html.Raw(ViewBag.to)');
            })
        </script>
    }

    @if (ViewBag.from != null)
    {
        <script>
            $(document).ready(function () {
                $('#place_from').val('@Html.Raw(ViewBag.from)');
            })
        </script>
    }

    @if (ViewBag.loaixe != null)
    {
        <script>
            $(document).ready(function () {
                $('#Loaixe_socho').val('@Html.Raw(ViewBag.loaixe)');
            })
        </script>
    }

    @if (ViewBag.lat1 != null)
    {
        <script>
            $(document).ready(function () {
                $('#lat1').val('@Html.Raw(ViewBag.lat1)');
            })
        </script>
    }

    @if (ViewBag.lng1 != null)
    {
        <script>
            $(document).ready(function () {
                $('#lng1').val('@Html.Raw(ViewBag.lng1)');
            })
        </script>
    }

    @if (ViewBag.lat2 != null)
    {
        <script>
            $(document).ready(function () {
                $('#lat2').val('@Html.Raw(ViewBag.lat2)');
            })
        </script>
    }

    @if (ViewBag.lng2 != null)
    {
        <script>
            $(document).ready(function () {
                $('#lng2').val('@Html.Raw(ViewBag.lng2)');
            })
        </script>
    }

    @*@if (ViewBag.nhaxe != null)
        {
            <script>
                $(document).ready(function () {
                    $('#nhaxe').val('@Html.Raw(ViewBag.nhaxe)');
                })
            </script>
        }*@

    @section scripts {
        @*<script>
                if (location.protocol != 'https:') {
                    location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
                }
            </script>*@
        @*<script src="~/Content/slick/slick.min.js"></script>*@
        <script src="~/Content/bxslider/jquery.bxslider.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
        @*<script src="~/Scripts/script2.js"></script>*@
        @Scripts.Render("~/Scripts/main")
        <script>
            $(document).ready(function () {
                //$('#gia_select').on('change', function () {
                //    if ($(this).val() !== "") {
                //        var url_2 = document.location.pathname + addUrlParam(document.location.search, 'gia_select', $(this).val());
                //        window.location.href = url_2;
                //    }
                //})

                ////Loaixe_socho
                //$.ajax({
                //    url: "/Home/getCarSize",
                //    cache: false
                //}).done(function (html) {
                //    $('#Loaixe_socho').append(html);
                //});
            })

            var addUrlParam = function (search, key, val) {
                var newParam = key + '=' + val,
                    params = '?' + newParam;

                // If the "search" string exists, then build params from it
                if (search) {
                    // Try to replace an existance instance
                    params = search.replace(new RegExp('([?&])' + key + '[^&]*'), '$1' + newParam);

                    // If nothing was replaced, then add the new param to the end
                    if (params === search) {
                        params += '&' + newParam;
                    }
                }
                return params;
            };

        </script>

        @*//dat xe nhanh*@
        <script>
            function func_datxenhanh(id,e) {
                e.preventDefault();
                if (document.getElementById('lat1').value === "" && document.getElementById('lng1').value === "") {
                    alert('Vui lòng nhập điểm đi.');
                    return false;

                }
                if (document.getElementById('lat2').value === "" && document.getElementById('lng2').value === "") {
                    alert('Vui lòng nhập điểm đến.');
                    return false;

                }
                if (id) {
                    $.get('/Home/getModaldatxenhanh?driver_id=' + id + "&diemdi=" + document.getElementById('place_from').value + "&diemden=" + document.getElementById('place_to').value + "&kcc=" + document.getElementById('kc_duongdi').value, function (html) {
                        $('#modal-7 .modal-body').html(html);
                        $('#modal-7').modal('show', { backdrop: 'static', keyboard: false });
                    })
                }

            }

            function saveBookingToDriver(id) {
                document.getElementById('lon_from').value = document.getElementById('lng1').value;
                document.getElementById('lat_from').value = document.getElementById('lat1').value;
                document.getElementById('lon_to').value = document.getElementById('lng2').value;
                document.getElementById('lat_to').value = document.getElementById('lat2').value;
                document.getElementById('from_place').value = document.getElementById('place_from').value;
                document.getElementById('to_place').value = document.getElementById('place_to').value;
                document.getElementById('car_type_made_model').value = $('#car_type_made_model_' + id).html();
                document.getElementById('price_driver').value = $('#price_driver_' + id).html().replace(',', '');
                document.getElementById('total_money').value = $('#total_money_driver_' + id).html().replace(',', '');
                document.getElementById('distance').value = document.getElementById('kc_duongdi').value;
                document.getElementById('car_size_driver').value = document.getElementById('car_size_driver_' + id).value;

                var url = "/Home/saveBookingToDriver"; // the script where you handle the form input.
                if (document.getElementById('customer_name').value === "") {
                    alert("Vui lòng nhập họ tên khách hàng.");
                    document.getElementById('customer_name').focus();
                    return false;
                }
                if (document.getElementById('customer_phone').value === "") {
                    alert("Vui lòng nhập số điện thoại khách hàng.");
                    document.getElementById('customer_phone').focus();
                    return false;
                }
                if (document.getElementById('from_date').value === "") {
                    alert("Vui lòng nhập ngày đến.");
                    document.getElementById('from_date').focus();
                    return false;
                }
                if (document.getElementById('to_date').value === "") {
                    alert("Vui lòng nhập ngày đi.");
                    document.getElementById('to_date').focus();
                    return false;
                }
                if (document.getElementById('from_date').value > document.getElementById('to_date').value) {
                    alert("Ngày đi phải sau ngày đến");
                    document.getElementById('from_date').focus();
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form_dat_thue_xe").serialize(), // serializes the form's elements.
                    success: function (data) {
                        if (data == 1) {
                            $('#modal-7').modal('hide');

                            //reset value
                            document.getElementById('customer_name').value = "";
                            document.getElementById('customer_phone').value = "";
                            document.getElementById('from_date').value = "";
                            var d = new Date();
                            var s = d.toLocaleString();
                            $('#to_date').datetimepicker({ value: s, step: 10 });
                            //end value
                            setTimeout(function () { alert('Đã đặt xe thành công.'); }, 1000);
                            $('#dat_xe_nhanh_' + id).html('Đặt xe thành công');
                        }
                        //console.log(data);
                    }
                });
            }

            //$(document).ready(function(){
            //    $('.multiple-items').slick({
            //        infinite: true,
            //        slidesToShow: 1,
            //        slidesToScroll: 1
            //    });
            //});

            $(document).ready(function () {

                setTimeout(function () {
                    @if (ViewBag.loaixe != null)
                {
                    <text>$('#Loaixe_socho').val('@Html.Raw(ViewBag.loaixe)');</text>
                }
                }, 1000)

                $('.bxslider').bxSlider({
                    infiniteLoop: false,
                    slideMargin: 10,
                    minSlides: 1,
                    slideWidth: 250,
                    controls: false
                });

                //$('.profile_page').hover(function () {
                //    $(this).siblings('a').css('display', 'inline-block');
                //}, function () {
                //    $(this).siblings('a').css('display', 'none');
                //});

                @*var _state = true;
                @if (ViewBag.gia_select != null)
            {
                <text>
                var gia = "@ViewBag.gia_select";
                if (gia === '1') {
                    _state = true;
                } else {
                    _state = false;
                }
                </text>
            }

                var _nhaxe = true;
                @if (ViewBag.nhaxe != null)
	        {
		        <text>
                var nx = '@ViewBag.nhaxe';
                if (nx === '0') {
                    _nhaxe = false;
                }
                </text>
	        }*@

                //$('input[name="gia_select"]').bootstrapSwitch({
                //    size: 'mini',
                //    onText: 'Tăng dần',
                //    offText: 'Giảm dần',
                //    state: _state
                //});
                //$('input[name="nhaxe"]').bootstrapSwitch({
                //    size: 'mini',
                //    onText: 'Nhà xe',
                //    offText: 'Tài xế',
                //    state: _nhaxe
                //});

                //$('input[name="gia_select"]').on('switchChange.bootstrapSwitch', function (event, state) {
                //    console.log(state); // true | false
                //    var url = "";
                //    if (state == false) {
                //        url = document.location.pathname + addUrlParam(document.location.search, 'gia_select', 2);
                //    } else {
                //        url = document.location.pathname + addUrlParam(document.location.search, 'gia_select', 1);
                //    }
                //    window.location.href = url;
                //});

                //$('input[name="nhaxe"]').on('switchChange.bootstrapSwitch', function (event, state) {
                //    console.log(state); // true | false
                //    var url = "";
                //    if (state == true) {
                //        url = document.location.pathname + addUrlParam(document.location.search, 'nhaxe', 1);
                //    } else {
                //        url = document.location.pathname + addUrlParam(document.location.search, 'nhaxe', 0);
                //    }
                //    window.location.href = url;
                //});

                $('.album_driver').flexslider({
                    animation: Modernizr.touch ? "slide" : "fade",
                    animationSpeed: Modernizr.touch ? 400 : 1000,
                    controlNav: false,
                    directionNav: true,
                    draggable: true,
                });

                //save url tim kiem
                //$.ajax({
                    
                //})


                //$('.quotes').affix({
                //    offset: {
                //        top: 100,
                //    }
                //})
                


            });

        </script>
    }